body {
  background: #000;
  margin-left: 200px;
  margin-top: 100px;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #ddd;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #c13;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}